<template lang="pug">
  //- Component of alert
    Props:
      type { String } - type of alert
      value { Boolean } - v-model of alert
      text { String } - text in alert

    Emits:
      @close - close alert

  v-alert(
    @input="$emit('close')",
    :type="type",
    :value="value")

    v-layout

      //- TODO: make displaying also for array and object type of text
      | {{ text }}

      v-spacer

      v-icon(@click="$emit('close')")
        | mdi-close

</template>

<script>
export default {
  name: 'alert',

  props: {
    // v-model of alert
    value: {
      type: Boolean,
      default: null
    },

    // type of alert (error, success, warning, info)
    type: {
      type: String,
      default: 'error'
    },

    // text alert
    text: {
      type: String,
      default: null
    }
  }
}
</script>

<style scoped></style>
