<template lang="pug">
  //- Component of autocomplete list
    Props:
      value { Number, Object, Array } - v-model of autocomplete
      items { Array } - list of items for choose
      itemText { String } - key for text in menu
      itemValue { String } - key for value of item in menu
      select { Boolean } - add checkboxes to select
    Emits:
      @change - change value

  v-menu(offset-y,
    v-on="$listeners",
    :close-on-content-click="!select")

    template(#activator="{ on }")

      v-btn.ml-2.btn-text-custom(v-on="on", outlined, color="#D5DAE0")

        span.mr-2(style="color: black", v-if="!select")
          | {{ value[itemText] || items.find(item => item[itemValue] === value)[itemText] }}

        span.mr-2(style="color: black", v-else)
          | {{ `${value.length} column selected`}}
        v-icon(color="black", small) mdi-chevron-down

    v-list

      //- chose all
      v-list-item(v-if="select")
        v-list-item-action(v-if="select")
          v-checkbox(
            :value="all || true",
            @change="val => (selectAll(val), $emit('change'))")
        span Select all

      v-list-item(v-for="(item, i) in items",
        :ripple="!select",
        :hover="!select",
        @click="select ? '' : value = item[itemValue], $emit('change', item[itemValue])")

        v-list-item-action(v-if="select")

          v-checkbox(v-model="item[itemValue]",
            @change="$emit('change')")

        span {{ item[itemText] }}
</template>

<script>
export default {
  name: 'autocomplete',

  props: {
    // v-model
    value: {
      type: [Number, Object, Array],
      require: true
    },

    // items
    items: {
      type: Array,
      default: () => []
    },

    // key for items
    itemText: {
      type: String,
      default: 'name'
    },

    // key for v-model
    itemValue: {
      type: String,
      default: 'value'
    },

    // show checkboxes and use multiply choise
    select: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    all() {
      let all = true
      this.items.forEach((item) => {
        if (!item[this.itemValue]) all = false
      })
      return all
    }
  },

  methods: {
    selectAll(val) {
      this.items.forEach((item) => this.$set(item, this.itemValue, val))
    }
  }
}
</script>

<style scoped></style>
