<template lang="pug">
  //- component of confirm dialog
    Props:
      value { Boolean } - v-model of dialog
      text { String } - text in dialog

    Emits:
      @cancel - cancel of dialog
      @confirm - confirm

  v-dialog(
    v-on="$listeners",
    @input="$emit('cancel')",
    width="300px",
    :value="value")

    div.pa-4(style="background: white")

      // text before confirm
      div(style="text-align: center") {{ text }}

      v-layout.mt-4(align-center, justify-center)

        // cancel dialog
        v-btn.btn-text-custom.mr-2(
          @click="$emit('cancel')",
          outlined,
          color="#D5DAE0")
          span(style="color: black") Cancel

        // confirm
        v-btn.btn-text-custom(
          depressed,
          color="primary",
          @click="$emit('cancel'), $emit('confirm')") Confirm


</template>

<script>
export default {
  name: 'confirm',

  props: {
    // v-model
    value: {
      type: Boolean,
      default: false
    },

    // text of confirm dialog
    text: {
      type: String,
      default: 'Are you sure?'
    }
  }
}
</script>

<style scoped></style>
