
.btn-text-custom
  letter-spacing: 0!important
  font-weight: normal!important
  font-style: normal!important
  text-transform: none!important

.btn-text-custom .v-btn--disabled
  color: rgb(213, 218, 224)!important
