<template lang="pug">
  // Table UI
  div

    //- alert with errors
    s-alert.mb-4(
      @close="alertModel = false, \
       alertText = null",
      :type="alertType",
      :text="alertText",
      v-model="alertModel")

    //- component of table
    s-table(show-select,
      v-on="$listeners",
      @change="getProducts",
      @delete="deleteProducts",
      :options.sync="options",
      :count="count",
      :headers="headers",
      :items="$_items")

      template(#items="{ item, showRows }")

        td(v-if="showRows.includes('product')") {{ item.product }}
        td(v-if="showRows.includes('calories')") {{ item.calories }}
        td(v-if="showRows.includes('fat')") {{ item.fat }}
        td(v-if="showRows.includes('carbs')") {{ item.carbs }}
        td(v-if="showRows.includes('protein')") {{ item.protein }}
        td(v-if="showRows.includes('iron')") {{ item.iron }}

</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  data: () => ({
    options: { itemsPerPage: 10 }, // pagination of table

    // array of headers
    headers: [
      { text: 'Product(100g serving)', value: 'product', show: true },
      { text: 'Calories', value: 'calories', show: true },
      { text: 'Fat (g)', value: 'fat', show: true },
      { text: 'Carbs (g)', value: 'carbs', show: true },
      { text: 'Protein (g)', value: 'protein', show: true },
      { text: 'Iron (g)', value: 'iron', show: true }
    ],

    // alert
    alertModel: false,
    alertText: null,
    alertType: null
  }),

  computed: {
    ...mapState({
      $_items: (state) => state.items.items, // items for table
      count: (state) => state.items.count // count of items
    })
  },

  // get items when template is ready
  async mounted() {
    await this.getProducts()
  },

  methods: {
    ...mapActions({
      getItems: 'items/getItems',
      deleteItems: 'items/deleteProducts'
    }),

    /** handler of delete button */
    async deleteProducts(checkboxArr) {
      const res = await this.deleteItems(checkboxArr)

      if (res) {
        this.alertType = res.success ? 'success' : 'error'
        this.alertText = res.success ? res.message : res.error
        this.alertModel = true
      }
    },

    /** handler of @change */
    async getProducts() {
      const params = this.options

      const res = await this.getItems(params)

      if (res) {
        this.alertType = 'error'
        this.alertText = res.error
        this.alertModel = true
      }
    }
  }
}
</script>
<style lang="stylus">
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap')
.v-application
  font-family: Source Sans Pro, sans-serif !important
</style>
