<template lang="pug">
  //- Simple of table

    Props:
      options { Object } - options of table:
        itemsPerPage { Number } - count of items in 1 page,
        page { Number } - number of page,
        sortBy { String } - value of header to sort by him,
        sortUp { Boolean } - sorting from bigest to least value
      sorted { Boolean } - ability to choise headers to sort
      items { Array } - rows of table
      count { Number } - count of all items from server
      headers { Array } - headers
        [{
            text { string} - text of header
            value { string } - value to sort
            show { Boolean } - show this header
        }]
      showSelect { Boolean } - show checkboxes
      itemKey { String } - key with unique property of object (for selection)

    Emits:
      @delete(items) - delete items
        items: {
          all { Array } choise all rows
          selected { Array } selected rows
          exceptions { Array } all besides this rows
        }
      @change(options) - change options of table
  div
    v-layout.mb-4(align-center, wrap)

      //- Confirm modal
      s-confirm(
        @cancel="confirmModel = false",
        @confirm="$emit('delete', checkboxArr)",
        :text="textConfirm",
        v-model="confirmModel")

      //- Sorting by
      sorting(
        v-if="sorted",
        @change="setSort",
        :sorting.sync="sort",
        :showHeaders="showHeaders",
        :headers="headers")

      //- Button delete
      v-btn.btn-text-custom.mr-3(
        depressed,
        :outlined="!deleteCount",
        :disabled="!deleteCount",
        v-if="showSelect",
        color="primary",
        @click="confirmModel = true",
        :ripple="false")
        | {{ `Delete (${deleteCount})` }}

      //- rowsPerPage
      s-autocomplete.fixed-width-autocomplete(
        v-on="$listeners",
        item-text="name",
        @change="setPagination",
        item-value="itemsPerPage",
        :items="rowsPerPageItems",
        v-model="options.itemsPerPage || 10")

      //- pagination of table
      pagination-table.mx-3(
        @change="setPage",
        :count="count",
        :options="options")

      //- chosen headers
      s-autocomplete.fixed-width-autocomplete(
        item-text="text",
        item-value="show",
        :items="headers",
        @change="setShowHeaders"
        select,
        v-model="showHeaders")


    //- Table
    v-data-table.mt-4(
      v-on="$listeners",
      hide-default-footer,
      hide-default-header,
      :options.sync="options",
      :single-select="false",
      :items="items",
      :headers="headers",
      :item-key="itemKey",
      :server-items-length="count")

      //- headers of table
      template(#header="props")
        th(v-if="showSelect", style="max-width: 40px")

          v-simple-checkbox.color-checkbox(
            v-model="checkboxArr.all",
            @input="$set(checkboxArr, 'selected', []), \
              $set(checkboxArr, 'exceptions', [])",
            style="align: center",
            :indeterminate="props.indeterminate")

        th(
          :style="{ fontSize: '0.875em', \
            color: options.sortBy === header.value ? \
              '#00A11E' : 'black' }",
          v-for="(header, i) in headers",
          v-if="showHeaders.includes(header.value)",
          :key="i")

          span  {{ header.text }}

          v-icon(
            small,
            @click="setSortUp",
            v-if="options.sortBy === header.value")
            | {{ options.sortUp ? 'mdi-arrow-up' : 'mdi-arrow-down' }}

      //- rows of table
      template(#item="props")

        tr.hover-tr-class.divider-tr

          td(v-if="showSelect", style="max-width: 40px")

            v-simple-checkbox.color-checkbox(
              :value="checkboxArr.selected.includes(props.item[itemKey]) || \
                (checkboxArr.all && !checkboxArr.exceptions.includes(props.item[itemKey]))"
              @input="val => setCheckbox(val, props.item[itemKey])")

          slot(
            name="items",
            :showRows="showHeaders",
            :item="props.item",
            :index="props.index")

            td(v-for="(row, i) in props.item",
              :key="i") {{ row }}

</template>

<script>
// components
import Sorting from './sorting'
import PaginationTable from './paginationTable'

export default {
  name: 'STable',

  components: { Sorting, PaginationTable },

  props: {
    // options of table
    options: {
      type: Object,
      default: () => ({
        itemsPerPage: 10
      })
    },

    // you can choose headers
    sorted: {
      type: Boolean,
      default: true
    },

    // rows of table
    items: {
      type: Array,
      required: true
    },

    // count of items
    count: {
      type: Number,
      default: 0
    },

    value: {
      type: Array,
      default: () => []
    },

    // headers of table
    headers: {
      type: Array,
      required: true
    },

    // show checkboxes
    showSelect: {
      type: Boolean,
      default: false
    },

    // key with unique property of object (for selection)
    itemKey: {
      type: [Number, String],
      default: 'id'
    }
  },

  data: () => ({
    checkboxArr: {
      selected: [], // chosen rows
      exceptions: [], // except rows when all is true
      all: null // checkbox of headers
    },

    textConfirm: 'Are you sure you want to delete item?', // text of confirm dialog
    confirmModel: null, // v-model confirm
    showHeaders: [], // headers to  show
    sort: null,

    rowsPerPageItems: [
      { name: '10 Per Page', itemsPerPage: 10 },
      { name: '15 Per Page', itemsPerPage: 15 },
      { name: '25 Per Page', itemsPerPage: 25 }
    ]
  }),

  computed: {
    /** Count of items to delete */
    deleteCount() {
      const count =
        this.checkboxArr.selected.length ||
        (this.checkboxArr.all &&
          this.count - this.checkboxArr.exceptions.length) ||
        0

      return count
    }
  },

  created() {
    this.setShowHeaders()
  },

  methods: {
    setCheckbox(val, key) {
      const exceptions = this.checkboxArr.exceptions
      const selected = this.checkboxArr.selected
      const all = this.checkboxArr.all

      if (val) {
        if (all) {
          this.$delete(exceptions, exceptions.indexOf(key))
        } else {
          const newArr = selected.slice()
          newArr.push(key)
          this.$set(this.checkboxArr, 'selected', newArr)
        }
      } else if (all) {
        const newArr = exceptions.slice()
        newArr.push(key)
        this.$set(this.checkboxArr, 'exceptions', newArr)
      } else {
        this.$delete(selected, selected.indexOf(key))
      }
    },

    setSort(val) {
      this.$set(this.options, 'sortBy', val)

      this.$set(this.options, 'sortUp', true)

      this.$emit('change')
    },

    setSortUp() {
      this.$set(this.options, 'sortUp', !this.options.sortUp)

      this.$emit('change')
    },

    setPage(val) {
      const page = val + (this.options.page || 0)

      this.$set(this.options, 'page', page)

      this.$emit('change')
    },

    setShowHeaders() {
      const showHeaders = []

      this.headers.forEach((item) => {
        if (item.show) showHeaders.push(item.value)
      })

      this.showHeaders = showHeaders
    },

    setPagination(val) {
      this.$set(this.options, 'itemsPerPage', val)

      this.$emit('change')
    }
  }
}
</script>

<style lang="stylus">
.color-checkbox .mdi-checkbox-marked
  color: #00A11E!important
.margin-bottom-input .v-input__slot
  margin-bottom: 0!important

.fixed-width-autocomplete .btn-text-custom
  width: 100%
  max-width: 109px
.hover-tr-class:hover
  background: rgba(0, 161, 30, 0.07)!important
.divider-tr
  border-width: 0!important
.theme--light.v-btn.v-btn--disabled
  color: rgb(213, 218, 224)!important
</style>
