<template lang="pug">
  v-layout(
    style="max-width: 60px width: 100%"
    align-center)

    v-btn(
      :disabled="options.page === 1",
      style="border-radius: 4px",
      @click="$emit('change', -1)"
      icon,
      outlined,
      color="#D5DAE0").mr-2

      v-icon(color="black", small) mdi-chevron-left

    span.font-weight-bold.mr-1
      | {{ ((options.page - 1)* options.itemsPerPage || 1) + ' - ' + options.page * options.itemsPerPage }}

    span.mr-1 of

    span.font-weight-bold {{ ' ' + count }}

    v-btn(
      @click="$emit('change', 1)",
      style="border-radius: 4px",
      icon,
      outlined,
      color="#D5DAE0").ml-2
      v-icon(color="black", small) mdi-chevron-right
</template>

<script>
export default {
  name: 'pagination',

  props: {
    options: {
      type: Object,
      require: true
    },

    count: {
      type: Number,
      default: 0
    }
  }
}
</script>

<style scoped></style>
