<template lang="pug">
  v-layout(align-center)

    span.font-weight-bold.mr-2 Sorting by:

    v-btn.btn-text-custom(
      text,
      :ripple="false",
      :class="{ 'active-item': sortingBy === header.value }",
      @click="sortingBy = header.value, $emit('change', sortingBy)",
      :color="sortingBy === header.value ? 'white' : 'black'",
      :value="header.text",
      v-for="(header, i) in headers",
      v-if="showHeaders.includes(header.value)",
      :key="i")
      span {{ header.text }}

</template>

<script>
export default {
  name: 'sorting',

  props: {
    // array with headers
    headers: {
      type: Array,
      required: true
    },

    // headers to display
    showHeaders: {
      type: Array,
      required: true
    }
  },

  data: () => ({
    sortingBy: null
  }),

  watch: {
    sortingBy(val) {
      this.$emit('update:sorting', val)
    }
  }
}
</script>

<style lang="stylus">
.active-item
  background-color: #00A11E!important
</style>
